<div id="Header">
  <h1 class="Home">
    <!-- <a href="#">Strategy+</a> -->
  </h1>
  <div>
    <tr class="Menu">
      <th>
        <a href="#" data-bs-toggle="modal" data-bs-target="#creditosModal"
          >Créditos</a
        >
      </th>
      <th>
        <a href="#" data-bs-toggle="modal" data-bs-target="#licencasModal"
          >Licenças</a
        >
      </th>
      <th>
        <a href="#" data-bs-toggle="modal" data-bs-target="#contatoModal"
          >Contato</a
        >
      </th>
    </tr>
  </div>
</div>

<!-- Modal -->
<div
  class="modal fade"
  id="creditosModal"
  tabindex="-1"
  aria-labelledby="creditosModalLabel"
  aria-hidden="true"
>
  <div class="modal-dialog modal-dialog-centered">
    <div class="modal-content">
      <div class="modal-header">
        <h1 class="modal-title fs-5" id="creditosModalLabel">Créditos</h1>
        <button
          type="button"
          class="btn-close"
          data-bs-dismiss="modal"
          aria-label="Close"
        ></button>
      </div>
      <div class="modal-body text-center mt-3 mb-3">
        O Sistema para Geração Automática de Estratégias de Busca foi
        desenvolvido por Mario Ambrosio de Souza Neto, graduando em Ciência de
        Dados, sob a orientação da bibliotecária Daianny Seoni de Oliveira.
      </div>
      <!-- <div class="modal-footer">
        <button type="button" class="btn btn-secondary" data-bs-dismiss="modal">
          Close
        </button>
        <button type="button" class="btn btn-primary">Save changes</button>
      </div> -->
    </div>
  </div>
</div>

<!-- Modal -->
<div
  class="modal fade"
  id="licencasModal"
  tabindex="-1"
  aria-labelledby="licencasModalLabel"
  aria-hidden="true"
>
  <div class="modal-dialog modal-dialog-centered">
    <div class="modal-content">
      <div class="modal-header">
        <h1 class="modal-title fs-5" id="licencasModalLabel">Licenças</h1>
        <button
          type="button"
          class="btn-close"
          data-bs-dismiss="modal"
          aria-label="Close"
        ></button>
      </div>
      <div class="modal-body">...</div>
      <!-- <div class="modal-footer">
        <button type="button" class="btn btn-secondary" data-bs-dismiss="modal">
          Close
        </button>
        <button type="button" class="btn btn-primary">Save changes</button>
      </div> -->
    </div>
  </div>
</div>

<!-- Modal -->
<div
  class="modal fade"
  id="contatoModal"
  tabindex="-1"
  aria-labelledby="contatoModalLabel"
  aria-hidden="true"
>
  <div class="modal-dialog modal-dialog-centered">
    <div class="modal-content">
      <div class="modal-header">
        <h1 class="modal-title fs-5" id="contatoModalLabel">Contato</h1>
        <button
          type="button"
          class="btn-close"
          data-bs-dismiss="modal"
          aria-label="Close"
        ></button>
      </div>
      <div class="modal-body">...</div>
      <!-- <div class="modal-footer">
        <button type="button" class="btn btn-secondary" data-bs-dismiss="modal">
          Close
        </button>
        <button type="button" class="btn btn-primary">Save changes</button>
      </div> -->
    </div>
  </div>
</div>
