<div id="Header">
  <h1 class="Home">
    <!-- <a href="#">Strategy+</a> -->
  </h1>
  <div>
    <tr class="Menu">
      <th>
        <a href="#" data-bs-toggle="modal" data-bs-target="#ferramentaModal"
          >Como usar o aplicativo</a
        >
      </th>
      <th>
        <a href="#" data-bs-toggle="modal" data-bs-target="#referenciasModal"
          >Referências</a
        >
      </th>
      <th>
        <a href="#" data-bs-toggle="modal" data-bs-target="#creditosModal"
          >Créditos</a
        >
      </th>
      <th>
        <a href="#" data-bs-toggle="modal" data-bs-target="#licencasModal"
          >Licenças</a
        >
      </th>
      <th>
        <a href="#" data-bs-toggle="modal" data-bs-target="#contatoModal"
          >Contato</a
        >
      </th>
    </tr>
  </div>
</div>

<!-- Modal -->
<div
  class="modal fade"
  id="ferramentaModal"
  tabindex="-1"
  aria-labelledby="ferramentaModalLabel"
  aria-hidden="true"
>
  <div class="modal-dialog modal-dialog-centered">
    <div class="modal-content">
      <div class="modal-header">
            <h1 class="modal-title fs-5" id="ferramentaModalLabel">Como usar o aplicativo</h1>
        <button
          type="button"
          class="btn-close"
          data-bs-dismiss="modal"
          aria-label="Close"
        ></button>
      </div>
      <div class="modal-body text-center">
        <!-- <hr> -->
        
          <hr>
        </div>
        <div class="mt-3 mb-4">
          <p class="text-start">O Strategy + funciona como uma ferramenta que prepara estratégias (strings) de busca de alta sensibilidade para as bases de Dados Medline via PubMed (pubmed.gov) e para o Portal Regional BVS / LILACS (bvsalud.org).</p>  
           <hr>
        </div>
        <div class="mt-3 mb-4">
          
          <h4 class="mb-4">BVS:</h4>
          <p class="text-start">1° Acesse o <a href="https://decs.bvsalud.org/" target="_blank" rel="noopener noreferrer" class="text-warning">DeCS (Descritores em Ciências da Saúde)</a> e pesquise os termos desejados em português. Caso precise de ajuda, consulte os tutoriais de pesquisa sobre o DeCS (<a href="https://youtu.be/Su06QYc946g" target="_blank" rel="noopener noreferrer" class="text-warning">parte 1</a>, <a href="https://youtu.be/d73_babcDCo" target="_blank" rel="noopener noreferrer" class="text-warning">parte 2</a>).</p>
          <p class="text-start">2° Após encontrar o termo no DeCS, copie o link do navegador e cole no modelo de busca BVS do aplicativo Strategy +, no campo “Link em português”.</p>
          <p class="text-start">3° Agora traduza para o inglês o termo, clicando no canto superior direito o idioma “English”. Copie e cole o link do navegador no campo “Link em english”.</p>
          <p class="text-start">4° No aplicativo Strategy +, aplique o filtro “Descritor em espanhol” e clique em pesquisar.</p>
          <p><b class="text-warning">Importante</b>: A estratégia gerada, deve ser utilizada na “busca avançada”  da base de dados da <a href="https://bvsalud.org/]" target="_blank" rel="noopener noreferrer" class="text-warning">BVS (Biblioteca Virtual da Saúde)</a>.</p>
          <hr>
        </div>
        <div class="mt-3 mb-4">
          
          <h4 class="mb-4">PubMed:</h4>
          <p class="text-start">1° Acesse o <a href="https://www.ncbi.nlm.nih.gov/mesh/" target="_blank" rel="noopener noreferrer" class="text-warning">MeSH Database</a> e pesquise os termos desejados.</p>
          <p class="text-start">2°Após encontrar o termo no MeSH Database, copie o link do navegador e cole no no campo “Link” do modelo de busca PubMed do aplicativo Strategy +.</p>
          <p><b class="text-warning">Importante</b>:  A estratégia gerada, deve ser utilizada na “busca avançada”  da base de dados da <a href="https://pubmed.ncbi.nlm.nih.gov/" target="_blank" rel="noopener noreferrer" class="text-warning">Pubmed</a>.</p>
          <hr>
        </div>
        </div>
      <!-- <div class="modal-footer">
        <button type="button" class="btn btn-secondary" data-bs-dismiss="modal">
          Close
        </button>
        <button type="button" class="btn btn-primary">Save changes</button>
      </div> -->
    </div>
  </div>
</div>

<!-- Modal -->
<div
  class="modal fade"
  id="referenciasModal"
  tabindex="-1"
  aria-labelledby="referenciasModalLabel"
  aria-hidden="true"
>
  <div class="modal-dialog modal-dialog-centered">
    <div class="modal-content">
      <div class="modal-header">
        <h1 class="modal-title fs-5" id="referenciasModalLabel">Referências</h1>
        <button
          type="button"
          class="btn-close"
          data-bs-dismiss="modal"
          aria-label="Close"
        ></button>
      </div>
      <div class="modal-body text-center">
        <p>PUGA, Maria Eduarda dos Santos. Estratégia de busca sensibilizada e filtros metodológicos para identificação de ensaios clínicos na base de dados LILACS. 2015. 154 f. Tese (Doutorado) - Escola Paulista de Medicina, Universidade Federal de São Paulo (UNIFESP), São Paulo, 2015. Disponível em: <a href="https://repositorio.unifesp.br/items/8fd68bc4-1fab-4c28-a149-a36f44aceb4f" target="_blank" rel="noopener noreferrer" class="text-danger">Repositorio Unifesp</a>  Acesso em: 25 fev. 2025.</p>
        <hr>
        <p>Atualizações - TI-Unifesp-Campus Baixada Santista</p>
      </div>
      <!-- <div class="modal-footer">
        <button type="button" class="btn btn-secondary" data-bs-dismiss="modal">
          Close
        </button>
        <button type="button" class="btn btn-primary">Save changes</button>
      </div> -->
      </div>
      </div>
</div>

<div
  class="modal fade"
  id="creditosModal"
  tabindex="-1"
  aria-labelledby="creditosModalLabel"
  aria-hidden="true"
>
  <div class="modal-dialog modal-dialog-centered">
    <div class="modal-content">
      <div class="modal-header">
        <h1 class="modal-title fs-5" id="creditosModalLabel">Créditos</h1>
        <button
          type="button"
          class="btn-close"
          data-bs-dismiss="modal"
          aria-label="Close"
        ></button>
      </div>
      <div class="modal-body text-center mt-3 mb-3">
        <h5 class="mb-5">Sistema para Geração Automática de Estratégia de Busca – Strategy +</h5>
        <div class="text-start mb-5">
          <p class="mb-4">O Strategy + é um sistema para geração automática de estratégias de busca, desenvolvido por Mario Ambrosio de Souza Neto, estagiário do curso de Ciência de Dados em 2024, sob a orientação da bibliotecária Daianny Seoni de Oliveira. Ambos integram a Biblioteca do Instituto de Saúde e Sociedade, no Campus Baixada Santista da Universidade Federal de São Paulo (Unifesp).</p>
          <p class="mb-4">A construção do Strategy + foi baseada na tese da bibliotecária Maria Eduarda dos Santos Puga, que estabeleceu estratégias de alta sensibilidade e filtros para a identificação de ensaios clínicos validados na base de dados LILACS.</p>
          <p>📘 O Ebook com detalhes sobre esse trabalho está disponível para consulta <a href="https://repositorio.unifesp.br/items/da228c8d-5c47-4dc3-9f69-ad1570f8f43f" target="_blank" rel="noopener noreferrer" class="text-danger">[aqui]</a>.</p>
          <hr>
        </div>

        <div class="text-start mb-5">
          <h5 class="mb-5 text-center">Como citar o Ebook, conforme a ABNT:</h5>
          <p>PUGA, Maria Eduarda dos Santos. Busca na base de dados Lilacs: estratégias de alta sensibilidade e filtros para identificação de ensaios clínicos validados. 1ª ed. São Paulo: Unifesp, 2025. 64 p. E-book. Disponível em: [link]. Acesso em: [data].</p>
          <hr>
        </div>

        <div class="text-start mb-3">
          <h5 class="mb-5 text-center">Como citar o Sistema Strategy +, conforme a ABNT:</h5>
          <p>SOUZA NETO, Mario Ambrosio de; OLIVEIRA, Daianny Seoni. Geração Automática de Estratégia de Busca: Strategy +. Disponível em: [link]. Acesso em: [data].</p>
        </div>

        <!-- <small class="text-center text-danger">Adaptação realizada por Silvio Flores, técnico em TI e Leonídio Junior, analista de TI com o apoio da bibliotecária Daianny Seoni de Oliveira.</small> -->
      </div>
      <!-- <div class="modal-footer">
        <button type="button" class="btn btn-secondary" data-bs-dismiss="modal">
          Close
        </button>
        <button type="button" class="btn btn-primary">Save changes</button>
      </div> -->
    </div>
  </div>
</div>

<!-- Modal -->
<div
  class="modal fade"
  id="licencasModal"
  tabindex="-1"
  aria-labelledby="licencasModalLabel"
  aria-hidden="true"
>
  <div class="modal-dialog modal-dialog-centered">
    <div class="modal-content">
      <div class="modal-header">
        <h1 class="modal-title fs-5" id="licencasModalLabel">Licenças</h1>
        <button
          type="button"
          class="btn-close"
          data-bs-dismiss="modal"
          aria-label="Close"
        ></button>
      </div>
      <div class="modal-body text-center">
        <p class="mb-3">Esse sistema está licenciado sob uma licença Creative Commons CC BY-NC-ND 4.</p>
        <p>Esta licença exige que os reutilizadores dêem crédito ao criador. Permite que os reutilizadores copiem e distribuam o material em qualquer meio ou formato, de forma não adaptada e apenas para fins não comerciais. Mais informações em: <a href="https://creativecommons.org/licenses/by-nc-nd/4.0/" target="_blank" rel="noopener noreferrer" class="text-danger">Creative Commons</a></p>
      </div>
      <!-- <div class="modal-footer">
        <button type="button" class="btn btn-secondary" data-bs-dismiss="modal">
          Close
        </button>
        <button type="button" class="btn btn-primary">Save changes</button>
      </div> -->
    </div>
  </div>
</div>

<!-- Modal -->
<div
  class="modal fade"
  id="contatoModal"
  tabindex="-1"
  aria-labelledby="contatoModalLabel"
  aria-hidden="true"
>
  <div class="modal-dialog modal-dialog-centered">
    <div class="modal-content">
      <div class="modal-header">
        <h1 class="modal-title fs-5" id="contatoModalLabel">Contato</h1>
        <button
          type="button"
          class="btn-close"
          data-bs-dismiss="modal"
          aria-label="Close"
        ></button>
      </div>
      <div class="modal-body text-center">
        <p>Dúvidas/informações: bibliotecaiss.bs&#64;unifesp.br</p>
        <p>Dúvidas/problemas no preenchimento do formulário: <a href="ti.bs@unifesp.br" target="_blank" rel="noopener noreferrer" class="text-danger">TI UNIFESP BS</a></p>
      </div>
      <!-- <div class="modal-footer">
        <button type="button" class="btn btn-secondary" data-bs-dismiss="modal">
          Close
        </button>
        <button type="button" class="btn btn-primary">Save changes</button>
      </div> -->
    </div>
  </div>
</div>
