#PubMedComponent {
  border-top: 2px solid #709c8a;
  height: 90vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  color: #709c8a;
}

#PubMedComponent h1 {
  font-size: 3.5rem;
  text-align: center;
  font-family: "Cinzel";
  margin: 2rem 0;
}

.CampoDeBusca {
  display: flex;
  justify-content: center;
  align-items: center;
  gap: 2rem;
  flex-wrap: wrap;
}

#PubMedComponent form {
  background-color: #ffffff;
  border-radius: 10px;
  padding: 30px;
  color: #000000;
  display: flex;
  flex-direction: column;
  justify-content: center;
  min-width: 250px;
  max-width: 400px;
}

form div label {
  font-weight: bold;
  letter-spacing: 1.5px;
}

.search {
  background-color: #215a36;
  color: #ffffff;
  border: 2px solid transparent;
  font-weight: bold;
  margin-top: 15px;
}

.font-bold option {
  font-weight: bold;
}

.Resultado {
  position: relative;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  max-width: 650px;
}

.Resultado div {
  position: relative;
  width: 100%;
}

.Resultado textarea {
  margin-bottom: 5px;
  text-align: center;
  max-height: 550px;
  min-height: 160px;
  min-width: 600px;
  background-color: #ffffff;
  padding: 1rem;
  resize: vertical;
}

.Resultado button.copy {
  position: absolute;
  top: 8px;
  right: 8px;
  background-color: #215a36;
  border: 1px solid transparent;
  color: #ffffff;
  padding: 6px 10px;
  z-index: 1;
}

.copy:hover {
  background-color: #ffffff;
  border: 1px solid #215a36;
  color: #215a36;
  transition: 0.5s;
}

.spinner-border {
  margin-top: 10px;
  color: #215a36;
}

.form-check-label {
  font-weight: normal;
}

.form-check-input:checked {
  border: 2px solid #ffffff;
  background-color: #215a36;
}

/* Responsivo: Notebook */
@media (max-width: 1550px) and (min-width: 1024px) {
  .Resultado textarea {
    max-height: 500px;
    min-width: 500px;
  }
}

/* Responsivo: Tablet */
@media (max-width: 1024px) and (min-width: 768px) {
  .Resultado textarea {
    max-height: 450px;
    min-width: 350px;
  }

  #PubMedComponent h1 {
    font-size: 2.5rem;
  }
}

/* Responsivo: Celular */
@media (max-width: 767px) {
  #PubMedComponent {
    height: auto;
    padding: 2rem 1rem;
  }

  .CampoDeBusca {
    flex-direction: column;
    gap: 2rem;
  }

  #PubMedComponent h1 {
    font-size: 2rem;
  }

  .Resultado textarea {
    min-width: 300px;
    max-height: 350px;
  }

  .Resultado button.copy {
    top: 5px;
    right: 5px;
    font-size: 0.85rem;
  }
}
