<style>
  :host {
    font-family: Arial, Helvetica, sans-serif;
    font-size: 16px;
    font-weight: bold;
    box-sizing: border-box;
    -webkit-font-smoothing: antialiased;
    -moz-osx-font-smoothing: grayscale;
    /* text-align: center; */
    margin: 0px;
    padding: 0px;
    color: #ffffff;

    a {
      text-decoration: none;
      color: inherit;
      font-weight: normal;
    }

    /* user-select: none;
    -webkit-user-select: none;
    -moz-user-select: none;
    -ms-user-select: none; */
  }
</style>

<div class="content" role="main">
  
  <app-header />
<div id="Main">  
  <div id="Main">
    <p class="text-start"></p> 
    <h1>Strategy + </h1>
    <p class="text-start"></p>
    <p class="text-start"></p> 
    <p class="text-start"></p>
    <p class="text-start"></p>
    <p class="text-start">O Strategy+ reúne diretrizes internacionais e tecnologia avançada para criar estratégias de busca altamente sensíveis em bases como PubMed e BVS/LILACS. É a ferramenta ideal para revisões sistemáticas, scoping reviews e outras publicações que exigem precisão e rigor metodológico.</p>  
    <div id="Main">
    
        <div class="mb-2">
         <select
        class="form-select font-bold bold-text" 
        aria-label="typeSearch"
        id="typeSearch"
        name="typeSearch"
        ngModel
        [(ngModel)]="valueTerm"
      >
        <option value="0">Selecione o modelo de busca desejado</option>
        <option value="1">BVS</option>
        <option value="2">PubMed</option>
        <!-- <option value="3">...</option> -->
      </select>
    </div>
  </div>
  <app-bvs *ngIf="valueTerm > 0 && valueTerm == 1"/>
  <app-pubmed *ngIf="valueTerm > 0 && valueTerm == 2"/>
  <app-footer />
</div>
